@{
    Layout = "~/Pages/_Layout.cshtml";
    Page.Title = "Main Page";
}

<header>
    <nav>

    </nav>

    <div class="title-group">
        <h1 class="title">Honza Chalupa portfolio</h1>
        <h2 class="subtitle">designer, full-stack programmer, biker, car-lover</h2>
    </div>
</header>

<section>
    <article class="applications image" style="background-image: url('http://lorempixel.com/1600/1600/')">
        <label>Applications</label>

        <div class="projects-list">
            <div class="mask"></div>

            <div class="project">
                <a class="image" style="background-image: url('http://lorempixel.com/800/600/technics/2/')" href="#"></a>
            </div>
            <div class="project">
                <a class="image" style="background-image: url('http://lorempixel.com/800/600/technics/3/')" href="#"></a>
            </div>
            <div class="project">
                <a class="image" style="background-image: url('http://lorempixel.com/800/600/technics/4/')" href="#"></a>
            </div>
            <div class="project">
                <a class="image" style="background-image: url('http://lorempixel.com/800/600/technics/5/')" href="#"></a>
            </div>
        </div>
    </article>
</section>

<footer>
    <a href="#">&copy; 2017 Honza Chalupa</a>
</footer>