<!DOCTYPE html>
<html>
<head>
    {% include "components/head.njk" -%}

    <title>Honza Chalupa portfolio</title>

    <link rel="stylesheet" href="css/main-page.min.css" />

    <script src="js/main-page.min.js"></script>
</head>

<body id="main-page">
    {% include "components/side-panel.njk" -%}

    <section id="grid-placeholder" class="grid"></section>

    {% include "components/footer.njk" -%}
</body>
</html>
