<h3>About me</h3>
<p>Hello there, my name is Honza. I’m from Prague, Czech Republic.</p>
<p>I grew up in front of computer screen and in these days was born my passion for computers and everything about it. It started with playing video-games followed by learning about vector graphics, Flash animations, bitmap graphics and photography, creating of basics websites back in 2008 and even mobile and desktop apps later after that.</p>
<p>And now I’m here, getting the most of I learned since I was 5-year-old playing Transport Tycoon on dad’s old computer together and trying to create something new, something unordinary.</p>
