<header class="header">
    <div class="image-container">
        <img class="image" src="images/profile.png" />
    </div>
    <h1>Honza Chalupa <span class="transparent">portfolio</span></h1>
    <h2>
        <ul class="about-tags">
            <li>full-stack programmer<span>~</span></li>
            <li>wannabe UX designer<span>~</span></li>
            <li>car-lover<span>~</span></li>
            <li>biker</li>
        </ul>
    </h2>
</header>
