<nav class="nav">
    <ul>
        <li><a href="index.html" data-page="main-page">Dashboard</a></li>
        <li><a href="projects.html" data-page="projects-page">Projects</a></li>
        <li><a href="gallery.html" data-page="gallery-page">Images</a></li>
        <li class="desktop-only"><a onclick="toggleSidePanel()">About me</a></li>
        <li class="mobile-only"><a href="about.html" data-page="about-page">About me</a></li>
    </ul>
</nav>
