<aside class="side-panel closed">
    <div class="main-view">
        {% include "components/header.njk" -%}
        {% include "components/navigation.njk" -%}
        {% include "components/footer.njk" -%}
    </div>

    {% include "components/about-panel.njk" -%}
</aside>
