<ul class="social">
    <li>
        <a href="http://www.twitter.com/janchalupa/">
            <div class="icon icon-twitter"></div>
            <p>Twitter</p>
        </a>
    </li>
    <li>
        <a href="http://www.behance.net/janchalupa/">
            <div class="icon icon-behance"></div>
            <p>Behance</p>
        </a>
    </li>
    <li>
        <a href="http://www.github.com/honzachalupa/">
            <div class="icon icon-github"></div>
            <p>GitHub</p>
        </a>
    </li>
    <li>
        <a href="mailto:janchalupa@outlook.cz">
            <div class="icon icon-mail"></div>
            <p>E-mail</p>
        </a>
    </li>
</ul>
