@import "shared";

.simple-page {
    section {
        width: 100%;
        padding: 0 20px 20px 320px;
        transition: filter 300ms;

        h3 {
            width: calc(100% + 40px);
            background-color: $raspberry;
            padding: 30px 22px;
            margin-bottom: 15px;
            position: relative;
            left: -20px;
        }

        p {
            color: black;
            margin-top: 10px;
        }

        img {
            width: 100%;
            border-radius: 3px;
            margin: 10px 0;
            float: left;
        }
    }
}

@media(max-width: 700px) {
    .simple-page {
        section {
            padding: 15px;

            h3 {
                width: auto;
                background-color: transparent;
                color: $raspberry;
                padding: 0;
                margin-bottom: 15px;
                position: static;
            }
        }
    }
}
