<aside class="side-panel closed">
    <header class="header">
        <img src="" />
        <h1><strong>Honza Chalupa</strong> portfolio</h1>
        <h2>
            <ul>
                <li>designer</li>
                <li>full-stack programmer</li>
                <li>explorer</li>
                <li>car-lover</li>
                <li>biker</li>
            </ul>
        </h2>

        <nav>
            <ul>
                <li><a href="index.html">Dashboard</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="gallery.html">Images</a></li>
                <li class="desktop-only"><a onclick="toggleSidePanel()">About me</a></li>
                <li class="mobile-only"><a href="about.html">About me</a></li>
            </ul>
        </nav>
    </header>

    <div class="about">
        sudsazuzdusduas
    </div>
</aside>
