<ul class="social">
    <li>
        <a href="http://www.twitter.com/janchalupa/">
            <div class="icon icon-twitter"></div>
            <p>Twitter</p>
        </a>
    </li>
    <li>
        <a href="http://www.behance.net/janchalupa/">
            <div class="icon icon-behance"></div>
            <p>Twitter</p>
        </a>
    </li>
    <li>
        <a href="mailto:janchalupa@outlook.cz">
            <div class="icon icon-mail"></div>
            <p>Twitter</p>
        </a>
    </li>
</ul>
